:host {
  display: block;
  height: 100vh;
}

:host md-sidenav-layout {
  height: 100%;
}

.creator {

  display: block;
  height: 100%;

  // &.dnd-drag-over {

  //   border-width: 1px;
  //   border-style: dotted;
  //   border-color: #222;

  // }

}
