:host {
  display: block;
  height: 100vh;
}

:host md-tab-group {
  min-height: 100%;

  padding-bottom: 48px * 2; // not so nice fix
}

:host md-sidenav-layout {
  height: 100%;
}

.creator {

  display: block;
  height: 100%;

  // &.dnd-drag-over {

  //   border-width: 1px;
  //   border-style: dotted;
  //   border-color: #222;

  // }

  &-full-height {
    min-height: 100vh;
  }

}

.custom-quick-access {

  min-width: initial;

}
