<div class="spinner" [class.isLoading]="(isLoading$ | async)">
</div>

<div class="notifications" *ngIf="events?.length != 0" [md-menu-trigger-for]="menu">{{ events?.length }}</div>

<md-menu x-position="before" #menu="mdMenu" class="notifications-list">
  <md-list>
    <md-list-item *ngFor="let event of events" class="md-list-item-override">
      <h3 md-line> {{ event.payload?.title }} </h3>
      <p md-line>
        <span> {{event.payload?.message}} </span>
      </p>
    </md-list-item>
  </md-list>
  <button md-menu-item (click)="clear($event)"> {{ 'AVATAR.MENU.CLEAR' | translate }} </button>
</md-menu>
