<md-tab-group>

  <md-tab>
    <template md-tab-label>Artikel</template>
    <template md-tab-content>
      GraphQL: {{ ok }}
      <my-articles-list [docs]="articles$"></my-articles-list>
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Metriken</template>
    <template md-tab-content>

    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Pirates</template>
    <template md-tab-content>
      <md-card>
        <img [src]="pirate$">
        <button *ngIf="!isPirate$" md-raised-button color="primary" (click)="isPirate(true)">Are you a pirate?</button>
      </md-card>
    </template>
  </md-tab>


</md-tab-group>
