<div class="quickedit" *ngIf="hasFocus">
   <div class="quickedit-trigger" *ngIf="showDeleteButton">
    <md-icon (click)="removeFormElement(element)">delete</md-icon>
  </div>
  <div class="quickedit-trigger" (click)="toggleQuickBar()" *ngIf="showEditButton">
    <md-icon [alt]="'DFORM.QUICKEDIT.LABEL.EDIT' | translate">{{ !shouldShowQuickEdit ? 'flip' : 'close' }}</md-icon>
  </div>
  <div class="quickedit-actions" [@shouldShowQuickBar]="shouldShowQuickEdit">
    <md-icon (click)="changeFormElementType(element, action.formType)" *ngFor="let action of actions">{{ action.icon }}</md-icon>
  </div>
  <md-progress-circle mode="determinate" [value]="progress" *ngIf="progress"></md-progress-circle>
</div>
