@import '../variables';

ui-textarea {
    textarea {
        display: block;
        margin: 0;
        width: 99%;
        -webkit-appearance: none;
        box-shadow: none;
        border-radius: 0;
        line-height: 2;
        padding: 0 0 0 1%;
        transition: all 0.2s linear;
        transition-property: border, background, color, box-shadow;
        border: $_ui-input-border-size $_ui-input-border-style $_ui-input-border-color;

        &:focus {
            outline: none;
            box-shadow: 0 0 3px 1px $_ui-input-focus;
            border: $_ui-input-border-size $_ui-input-border-style $_ui-input-focus-border-color;
            background-color: rgba($_ui-input-focus-border-color, 0.2);
        }
        &:disabled, &:read-only {
            background: $_ui-input-disabled-bg;
            color: $_ui-input-disabled;
            cursor: not-allowed;
        }
    } 

    &.error textarea {
        border: $_ui-input-border-size $_ui-input-border-style rgba($_ui-error-color, 0.6);
        background-color: rgba($_ui-error-color, 0.1);
        color: rgba($_ui-error-color, 0.8);
    }

    &.success textarea {
        border: $_ui-input-border-size $_ui-input-border-style rgba($_ui-success-color, 0.6);
        background-color: rgba($_ui-success-color, 0.1);
    }

}