@import '../../../_variables'; // could be redone

:host {
  font-size: 95%;
}

ui-label {
  color: $_menu-label-color;
  line-height: 2rem;
}

div + div {
  border-top-color: $_menu-label-color;
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 1rem;
  padding-top: .5rem;
}

a {
  display: block;
}
