@import '../../../lib/variables'; // could be redone

:host {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  .context {
    display: flex;
    justify-content: space-between;

    * {
      padding: 1rem;
    }
  }
}
