<md-tab-group>

  <md-tab>
    <template md-tab-label>Master</template>
    <template md-tab-content>
      Master
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Web</template>
    <template md-tab-content>
      Web Channel
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>App</template>
    <template md-tab-content>
      App Channel
    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Print</template>
    <template md-tab-content>
      Print Channel
    </template>
  </md-tab>

</md-tab-group>
