@import '../../frameworks/core/ui/variables';
@import '../../../variables';

:host {
  padding: initial;
}

:host nav {
  padding: 1rem 0;

  clr-icon {
    margin-right: .5rem;
  }

  a {
    align-items: center;
    color: rgba(white, .5);
    display: block;
    display: flex;
    padding: $_menu-padding;

    background-color: transparent;
    cursor: pointer;

    // border-top-color: $_menu-border-color;
    // border-top-width: $_menu-border-width;
    // border-top-style: $_menu-border-style;

    // border-bottom-color: $_menu-border-color;
    // border-bottom-width: $_menu-border-width;
    // border-bottom-style: $_menu-border-style;

    text-decoration: none;
    margin: 0 1rem;

    &:hover {
      color: white;
    }
    &.is-active {
      color: white;
      background-color: darken($_ui-sidenav-background-color, 3%);
      border-radius: $_ui-sidenav-border-radius;
    }
  }

  a + a {
    border-top: none;
  }
}
