<div [formGroup]="form">
  <label [attr.for]="element.key">{{element.label}}</label>
  <div [ngSwitch]="element.controlType">
    <my-dform-text [element]="element" [form]="form" *ngSwitchCase="'text'"></my-dform-text>
    <my-dform-meta-text [element]="element" [form]="form" *ngSwitchCase="'metaText'"></my-dform-meta-text>
    <my-dform-textarea [element]="element" [form]="form" *ngSwitchCase="'textArea'"></my-dform-textarea>
  </div>
  <div class="errorMessage" *ngIf="!isValid">{{ element.label }} is required</div>
</div>
