$_dform-prefix: 'dform';

$_dform-context-padding: 1rem;
$_dform-context-border-color: rgba(151, 151, 151, 1);
$_dform-context-background-color: rgba(216, 216, 216, 1);
$_dform-context-border-style: solid;
$_dform-context-border-width: 1px;

// variants
$_dform-context-variants-background-color: rgba(255, 255, 255, 1);
