$_dform-prefix: 'dform';

$_dform-padding: 1rem;
$_dform-border-color: rgba(151, 151, 151, 1);
$_dform-background-color: rgba(216, 216, 216, 1);
$_dform-border-style: solid;
$_dform-border-width: 1px;
