<div class="c-dform-context">
  <!-- initialized -->
  <div class="c-dform-context__subject" *ngIf="variants > 0">
    <h4>{{ subject }}</h4>
    <h4 *ngIf="contextType">{{ contextType | translate }}</h4>
  </div>
  <div class="c-dform-context__variants" *ngIf="variants > 0">
    <ng-content></ng-content>
  </div>
  <div class="c-dform-context__edit" *ngIf="variants > 0">
    <div class="o-dform-context-actions">
      <button (click)="doAddVariant($event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button (click)="doSetVariant($event)"><i class="fa fa-cog" aria-hidden="true"></i></button>
    </div>
    <div class="o-dform-context-meta">
      <ul>
        <li><i class="fa fa-check" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
  <!-- uninitialized -->
  <div class="c-dform-context__init" *ngIf="variants === 0">
    <h4>{{ subject }}</h4>
    <button (click)="doCopyContext($event)"><i class="fa fa-clone" aria-hidden="true"></i></button>
    <button (click)="doAddVariant($event)"><i class="fa fa-code-fork" aria-hidden="true"></i></button>
  </div>
</div>
