// not so nice, but needed
@import '../variables';

.c-#{$_dform-prefix} {

  &-context {
    padding: $_dform-context-padding;

    &__subject {

      display: flex;

      & > * { // be cool

        border-color: $_dform-context-border-color;
        border-style: $_dform-context-border-style;
        border-width: $_dform-context-border-width;
        font-size: inherit;
        font-weight: normal;
        // reset
        border-bottom: 0;
        line-height: 1.75rem;
        margin: 0;
        padding: 0 1.25rem;

        background-color: $_dform-context-background-color;

      }

      & > * + * {
        border-left: none;
        background: none;
      }

    }

    &__variants {

      background-color: $_dform-context-variants-background-color;

      border-color: $_dform-context-border-color;
      border-style: $_dform-context-border-style;
      border-width: $_dform-context-border-width;

      padding: $_dform-context-padding;

    }

    &__edit {

      display: flex;
      justify-content: space-between;

    }

    &__init {

      border-color: $_dform-context-border-color;
      border-style: $_dform-context-border-style;
      border-width: $_dform-context-border-width;

      display: flex;

      justify-content: flex-end;

      & > *:first-child {

        flex-grow: 1;

      }

      & > * {

        font-size: inherit;
        font-weight: normal;
        // reset
        padding: 0;
        margin: 0;
        // set
        padding: 1rem;

      }

      button {

        background: none;
        border: 0;
        outline: none;

        -webkit-appearance: none;

      }

    }

  }

}

.o-#{$_dform-prefix} {

  &-context {

    &-actions {

      display: flex;

      button {

        padding: 5px 10px;
        background-color: $_dform-context-background-color;

        border-color: $_dform-context-border-color;
        border-style: $_dform-context-border-style;
        border-width: $_dform-context-border-width;
        // reset
        border-top: 0;

        outline: none;

        -webkit-appearance: none;

        &:hover {

          background-color: darken($_dform-context-background-color, 5%);

        }

      }

      button + button {

        border-left: 0;

      }

    }

    &-meta {

      & > ul {

        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row-reverse;

        align-items: center;

        li {

          border-color: $_dform-context-border-color;
          border-style: $_dform-context-border-style;
          border-width: $_dform-context-border-width;
          // reset
          border-top: 0;

          padding: 5px 10px;

        }

        li + li {

          border-right: 0;

        }

      }

    }

  }

}
