@import '../variables';

ui-tabs {

  .#{&}-group {
    display: inline-block;
    font-size: 1rem;
  }

  .#{&}-group-label {
    color: $_ui-tabs-group-label-color;
    padding: 0 $_ui-tabs-tab-padding;
  }

  .#{&}-container {
    background-color: $_ui-tabs-background-color;
    z-index: 9997;
    width: 100%;

    font-size: 0;
    padding: 1rem 0 .5rem 0;

    ul {
      display: flex;
      list-style: none;
      // reset
      padding: 0;
      margin: 0;

      li {
        color: $_ui-tabs-color;
        position: relative;
        cursor: pointer;
        opacity: .75;
        padding: $_ui-tabs-tab-padding / 2 $_ui-tabs-tab-padding;

        &:hover {
          opacity: 1;
        }
      }

      li.active:after {
        background-color: $_ui-tabs-group-label-color;
        border-radius: 50%;
        content: '';
        display: block;
        height: 5px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 5px;
      }

    }

  }

  .ui-tab {
    position: relative;
    overflow-y: auto;
  }

}
