@import '../variables';

ui-tabs {

  .#{&}-container {

    background-color: $_ui-tabs-background-color;
    z-index: 9997;
    width: 100%;

    ul {

      display: flex;
      min-width: 100%;
      list-style: none;
      // reset
      padding: 0;
      margin: 0;

      li {

        cursor: pointer;
        padding: $_ui-tabs-tab-padding / 2 $_ui-tabs-tab-padding;

        border-color: $_ui-tabs-tab-border-color;
        border-style: $_ui-tabs-tab-border-style;
        border-width: $_ui-tabs-tab-border-width;

        &:hover {

          background-color: $_ui-tabs-tab-background-color;

        }

      }

      li + li {

        border-left: none;

      }

      li:nth-last-child(1) {

        flex-grow: 1;

      }

    }

  }

  .ui-tab {

    position: relative;
    overflow-y: auto;

  }

}
