<sg-dform-quickbar [element]="element">
  <md-card [formGroup]="form">
    <md-card-content>
      <input *ngIf="!element.isValidVideo" #input (change)="element.checkVal(element.key, input.value)" [formControlName]="element.key"
        [id]="element.key" [type]="element.type" placeholder="{{ 'DFORM.SOCIALVIDEO.PLACEHOLDER' | translate}}">
      <div class="errorMessage" *ngIf="form.controls[element.key].touched && form.controls[element.key]?.errors">
        <div class="errorMessage" *ngIf="form.controls[element.key]?.errors?.required"> Ist leer</div>
        <div class="errorMessage" *ngIf="form.controls[element.key]?.errors?.pattern"> Falscher Videolink</div>
      </div>
      <p> Validation Errors: {{form.controls[element.key].errors | json}}</p>
      <iframe *ngIf="element.isValidVideo" src="https://player.vimeo.com/video/191375373" width="640" height="360" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
      <sg-dform-metabar [formElement]="element"></sg-dform-metabar>
    </md-card-content>
    <sg-dform-quickedit [formElement]="element"></sg-dform-quickedit>
  </md-card>
</sg-dform-quickbar>
