<form (ngSubmit)="onSubmit(toggleChannels)" validateAtLeast [formGroup]="channelsForm">
	<h3>{{ 'CREATOR.DIALOG.CHANNELS.TITEL' | translate }}</h3>
	<md-slide-toggle name="ngModel" [formControl]="channelsForm.get(channel.template.name)" [(ngModel)]="channel?.template.isEnabled" *ngFor="let channel of channels">
		{{ channel?.template.displayName }}
	</md-slide-toggle>
	<button md-raised-button color="secondary" type="submit" [disabled]="!channelsForm.valid">{{ 'BUTTON.APPLY' | translate }}</button>
</form>
