<form (ngSubmit)="onSubmit(toggleChannels)" sgValidateAtLeast [formGroup]="form">
	<h3>{{ 'CREATOR.DIALOG.CHANNELS.TITEL' | translate }}</h3>
  <md-list>
    <md-list-item *ngFor="let channel of channels">
      <md-checkbox [disabled]="channel.isMaster" name="ngModel" [formControl]="form.get(channel.name)" [(ngModel)]="channel.isEnabled">
		  {{ channel.displayName }}
	    </md-checkbox>
    </md-list-item>
  </md-list>
	<button md-raised-button color="secondary" type="submit" [disabled]="!form.valid">{{ 'BUTTON.APPLY' | translate }}</button>
</form>
