<sg-dform-context (addVariant)="addVariant($event)" [subject]="element.subject" [type]="element.type" [variants]="variants.controls.length">
  <div class="metaTextForm" *ngIf="variants.controls.length !== 0">
    <div [formGroup]="variants">
      <div *ngFor="let variant of variants.controls; let i=index">
        <sg-dform-variant [index]="i" [form]="variant" (isFaved)="isFaved($event)" (removeVariant)="removeVariant($event)">
          <input type="text" [id]="variant.key">
        </sg-dform-variant>
      </div>
    </div>
  </div>
</sg-dform-context>
