:host input {
  background-color: transparent;
  border: none;
  font-size: 1.15rem;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
}

/*ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-end;

  li {
    padding-left: 1em;
    cursor: pointer;
  }

  li:nth-child(1) {
    color: rgb(99, 99, 99);
    background-color: lightgrey;
    padding-right: 1em;
    border-radius: 5px;
  }

}*/

md-input {
  width: 100%;
}
