$_spin-animation-duration: 1 * 750ms;
$_spin-border-color: rgb(99, 99, 99);
$_spin-border-width: 24px;
$_spin-off-border-color: rgba($_spin-border-color, 0.2);


.isLoading {
  display: flex;
  height: 250px;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation-duration: $_spin-animation-duration;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-color: $_spin-off-border-color;
  border-radius: 50%;
  border-style: solid;
  border-top-color: $_spin-border-color;
  border-width: .25rem;
  height: $_spin-border-width;
  width: $_spin-border-width;
}
