@import '../variables';

ui-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  margin: 0;
  padding: 0;

  .#{&}-progress {
    margin: 0;
    padding: 0;
    z-index: 9998;
    background-color: $_ui-loading-bar-background-color;
    color: $_ui-loading-bar-color;
    box-shadow: $_ui-loading-bar-box-shadow;
    height: $_ui-loading-bar-height;

    opacity: 0;

    transition: all .5s ease-in; // +* magic *+
  }

}
