@import '../../../lib/variables'; // could be redone

.sg-notifications {

  .dropdown-menu {
    min-width: 240px;
    .dropdown-item {
      display: flex;
      align-items: center;

      &.read {
        opacity: $_notifications-read-opacity;
      }

      &:before {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        content: '';
        margin-right: .5rem;
      }

      &.info:before {
        background-color: $_notifications-info-color;
      }

      &.error:before {
        background-color: $_notifications-error-color;
      }

      &.warn:before {
        background-color: $_notifications-warn-color;
      }
    }
  }

  .badge {
    position: absolute;
    left: 6px;
    top: 6px;
  }

  @at-root &.dropdown {
    .dropdown-toggle:not(.btn) clr-icon[shape^="caret"] {
      right: 12px;
    }
    .dropdown-toggle clr-icon[shape^="notification"] {
      height: 24px;
      width: 24px;
    }
    .dropdown-toggle {
      color: #fafafa;
      opacity: .65;
    }
    .dropdown-toggle:hover {
      opacity: 1;
    }
  }

  button {
    display: block;
    width: 100%;
  }
}
