<md-sidenav-layout>

  <md-sidenav #end opened="true" mode="side">

    <md-list>

      <md-list-item [draggable]>
        <md-icon md-list-avatar>text_format</md-icon>
        <h4 md-line>Fließtext</h4>
        <p md-line [myHighlight]> Sammeln von Fließtext </p>
      </md-list-item>

      <md-list-item>
        <md-icon md-list-avatar>textsms</md-icon>
        <h4 md-line>Schlagworte</h4>
        <p md-line> Sammeln von Schlagworten </p>
      </md-list-item>

      <md-divider></md-divider>

      <md-list-item>
        <md-icon md-list-avatar>photo</md-icon>
        <h4 md-line>Foto</h4>
        <p md-line>Foto</p>
      </md-list-item>

      <md-list-item>
        <md-icon md-list-avatar>video_label</md-icon>
        <h4 md-line>Video</h4>
        <p md-line>Video</p>
      </md-list-item>

    </md-list>

  </md-sidenav>

  Content

</md-sidenav-layout>
