@import '../variables';

ui-toast {

  bottom: 10px;
  left: 50%;
  margin: 0 auto;
  margin-left: -120px;
  position: fixed;

  .#{&} {
    padding: .5rem 1rem;
    width: 240px;
    border-radius: 3px;

    text-align: center;

    cursor: pointer;
    position: relative;

    &:hover:after {
      width: 10px;
      height: 10px; // TODO@sdoell
      content: "\f00d";
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      right: 10px;
    }

    &.error {
      background-color: red;
      color: white;
    }

    &.warn {
      background-color: orange;
      color: white;
    }

    &.info {
      background-color: cadetblue;
      color: white;
    }

  }

}
