$_dform-metabar-tag-background-color: lightgrey;
$_dform-metabar-tag-color: darken($_dform-metabar-tag-background-color, 50%);
$_dform-metabar-id-color: $_dform-metabar-tag-background-color;

.sg-dform-metabar {

  display: flex;
  flex-direction: row-reverse;
  padding: .5rem 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding-top: 0;
      padding-right: 1rem;
      padding-bottom: 0;
      padding-left: 1rem;
    }
  }

  &-tag {
    color: $_dform-metabar-tag-color;
    background-color: $_dform-metabar-tag-background-color;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-action {
    cursor: pointer;
  }

  &-id {
    flex-grow: 1;
    color: $_dform-metabar-id-color;
  }

}
