$_spin-animation-duration: 1 * 750ms;
$_spin-border-color: rgb(99, 99, 99);
$_spin-border-width: 24px;
$_spin-off-border-color: rgba($_spin-border-color, 0.2);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import '~clarity-icons/src/clarity-icons';
@import '~clarity-ui/clarity-ui.min.css';

html, body {
  height: 100%;
  overflow: hidden;
}

.critical {

  position: relative;
  display: block;
  height: 100%;
  min-height: 100%;

  .loading {
    position: relative;
    top: 50%;
    margin-top: -12px;

    .spinner {
      animation-duration: $_spin-animation-duration;
      animation-name: spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      border-color: $_spin-off-border-color;
      border-radius: 50%;
      border-style: solid;
      border-top-color: $_spin-border-color;
      border-width: .25rem;

      height: $_spin-border-width;
      width: $_spin-border-width;
    }

    .spinner,
    .message {
      margin: 0 auto;
    }

    .message {
      width: 50%;
      text-align: center;
      padding: 1rem;
    }

  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
