@import '../../variables';

.c-#{$_dform-prefix} {

  &-variant {

    ul.o-#{$_dform-prefix} {
      li {
        // border-right: 0;
      }

    li + li {
        border-top: 0;
      }
    }

    display: flex;
    margin: $_dform-context-padding 0;

    &__actions {
      display: flex;
      flex-direction: column;

    }

    &__element {
      flex-grow: 1;
    }

  }

}
