@import '../variables';

ui-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  margin: 0;
  padding: 0;

  .progress {
    max-height: 3px;

    & > progress {
      height: inherit;
    }
  }

}
