$_ui-prefix: 'ui';

// tabs
$_ui-tabs-background-color: rgba(255, 255, 255, 1);
$_ui-tabs-tab-background-color: rgba(216, 216, 216, 1); // to global variables
$_ui-tabs-tab-border-color: rgba(151, 151, 151, 1);
$_ui-tabs-tab-border-style: solid;
$_ui-tabs-tab-border-width: 1px;
$_ui-tabs-tab-padding: 1rem;

// tooolbar
$_ui-toolbar-align-items: center;
$_ui-toolbar-padding: 1rem (1rem / 2);
$_ui-toolbar-min-height: 4 * 1rem;

// button
$_ui-button-outline: none;
$_ui-button-border: none;
$_ui-button-background: none;

// loadingbar
$_ui-loading-bar-background-color: $_ui-tabs-tab-border-color;
$_ui-loading-bar-color: $_ui-loading-bar-background-color;
$_ui-loading-bar-height: 2px;
$_ui-loading-bar-box-shadow: 0 0 10px 0;

// inputs
$_ui-input-disabled: rgba(181, 181, 181, 1);
$_ui-input-disabled-bg: rgba(247, 247, 247, 1);
$_ui-input-focus: rgba(93, 93, 93, 0.7);
$_ui-input-border-color: rgba(151, 151, 151, 1);
$_ui-input-border-style: solid;
$_ui-input-border-size: 1px;
$_ui-input-border-radius: 0;
$_ui-input-focus-border-color: rgba(199, 216, 239, 0.6);

// TODO: global?
$_ui-success-color: rgba(25, 156, 44, 1);
$_ui-error-color: rgba(212, 77, 101, 1);
