$_ui-prefix: 'ui';

// tabs
$_ui-tabs-tab-background-color: rgba(216, 216, 216, 1);
$_ui-tabs-tab-border-color: rgba(151, 151, 151, 1);
$_ui-tabs-tab-border-style: solid;
$_ui-tabs-tab-border-width: 1px;
$_ui-tabs-tab-padding: 1rem;
